In [1]:
from IPython.html import widgets
from IPython.display import display
from jinja2 import Template

:0: FutureWarning: IPython widgets are experimental and may change in the future.

In [12]:
import pandas as pd
from datetime import datetime

In [39]:

df = pd.DataFrame(
[['1234', '12', datetime(2003, 8, 4, 12, 30, 45), 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor keyword1 incididunt ', 'tutor','None'],
 ['1234', 'sys', datetime(2003, 8, 4, 12, 32, 45), 'Lesson event', 'system', 'None'],
 ['1234', '12', datetime(2003, 8, 4, 12, 33, 45), 'ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation keyword1 keyword3 ullamco laboris nisi ut aliquip ex ea commodo consequat.', 'student', 'None'],
 ['5678', '56', datetime(2003, 8, 4, 12, 36, 45), 'other other ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis keyword2 keyword3 nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.', 'student', 'None'],
 ['5678', '78', datetime(2003, 8, 4, 12, 39, 45), 'other ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.', 'tutor', 'None']
])
df.columns = ['conversation', 'person', 'time', 'body','origin','tag']

In [40]:
df

,conversation,person,time,body,origin,tag
0,1234,12,2003-08-04 12:30:45,"Lorem ipsum dolor sit amet, consectetur adipis...",tutor,None
1,1234,sys,2003-08-04 12:32:45,Lesson event,system,None
2,1234,12,2003-08-04 12:33:45,ut labore et dolore magna aliqua. Ut enim ad m...,student,None
3,5678,56,2003-08-04 12:36:45,other other ut labore et dolore magna aliqua. ...,student,None
4,5678,78,2003-08-04 12:39:45,other ut labore et dolore magna aliqua. Ut eni...,tutor,None

In [60]:
class DataFrameTagger(object):
    def __init__(self, df):
        self._df = df
        self._initialize_tag_column()
        self.wid = {}
        self.display = {}
    
    def _initialize_tag_column(self):
        if 'tag' not in self._df.columns:
            self._df['tag'] = 'None'
    
    def set_group_column(self, group_column):
        self.group_column = group_column
    
    def filter_chats(self, term='', column=None):
        self._term = term
        if term == '' or not columns:
            self.groups = self._df[self.group_column].unique().tolist()
        
        else:
            self._filtered_df = self._df[self.df[column].str.contains(term)]
            self.groups = self._filtered_df[self.group_column].unique().tolist()

    def create_template(self, html):
        self.html = Template(html)
        
    def display_group(self, page, user):
        def on_submit(tag):
            self._df.set_value(tag.row_dict['id'],'tag',tag.value)
        
        try:
            self.wid[user].close()
        except:
            pass
        group = df[df[self.group_column]==page]
        wids = []
        for row in group.iterrows():
            tag = widgets.Text()
            tag.row_dict = row[1].to_dict()
            tag.value = tag.row_dict['tag']
            tag.row_dict['id'] = row[0]
            tag.html = widgets.HTML(self.html.render(**tag.row_dict))
            tag.html.width = 400
            tag.on_submit(lambda x: on_submit(x))
            row_box = widgets.HBox([tag.html,tag])
            wids.append(row_box)
        self.wid[user] = widgets.Box(wids)
        display(self.wid[user])
    
    def browse(self, user='ben'):
        dropdown = widgets.Dropdown()
        dropdown.options = self.groups
        self.display[user] = widgets.interactive(self.display_group, user=user, page=dropdown )
        display(self.display[user])
        self.display[user].children[1].close()
        
    def to_dataframe(self):
        return self._df

In [61]:
dft = DataFrameTagger(df)

In [62]:
dft.set_group_column('conversation')
dft.filter_chats()

In [63]:
html_template = """
<span>{{time}}</span>
<span {% if origin == "student" %} style="color:blue" {% endif %}
    {% if origin == "tutor" %} style="color:orange" {% endif %}>
    {{' '+origin + ' ' + person}} 
</span>
<p>{{body}}</p>
<br>
"""
dft.create_template(html_template)

In [64]:
dft.browse()

In [11]:
dft.to_dataframe()

,conversation,body,origin,tag
0,1234,"Lorem ipsum dolor sit amet, consectetur adipis...",tutor,None
1,1234,Lesson event,system,None
2,1234,ut labore et dolore magna aliqua. Ut enim ad m...,student,None
3,5678,other other ut labore et dolore magna aliqua. ...,student,hello
4,5678,other ut labore et dolore magna aliqua. Ut eni...,tutor,None

In [55]:
dropdown = widgets.Dropdown()
dropdown.options = ['one','two','three']
dropdown.value = 'three'

In [65]:
out = widgets.HTML(value=dropdown.value)
dropdown.on_trait_change(lambda x: print(x))

In [66]:
display(dropdown)

In [59]:
dropdown.value

'two'

In [68]:
a = widgets.Text(value='hello')
a.on_submit(lambda x: print(x.value))
display(a)

hello
hi
higodd
good